IO_LOC "o_led_n[5]" J14;
IO_PORT "o_led_n[5]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "o_led_n[4]" R26;
IO_PORT "o_led_n[4]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "o_led_n[3]" L20;
IO_PORT "o_led_n[3]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "o_led_n[2]" M25;
IO_PORT "o_led_n[2]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "o_led_n[1]" N21;
IO_PORT "o_led_n[1]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "o_led_n[0]" N23;
IO_PORT "o_led_n[0]" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "i_rst_n" K16;
IO_PORT "i_rst_n" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "i_ref_clk" P16;
IO_PORT "i_ref_clk" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
INS_LOC "u_soc_pll/u_pll" PLL_R[0];
