IO_LOC "o_led_wfi_n" J14;
IO_PORT "o_led_wfi_n" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;

IO_LOC "i_uart_rx" N16;
IO_PORT "i_uart_rx" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;

IO_LOC "o_uart_tx" P15;
IO_PORT "o_uart_tx" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;

IO_LOC "i_rst_n" K16;
IO_PORT "i_rst_n" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;

IO_LOC "i_ref_clk" P16;
IO_PORT "i_ref_clk" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;

IO_LOC "o_tdo" J10;
IO_PORT "o_tdo" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "i_tdi" H10;
IO_PORT "i_tdi" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "i_tms" H11;
IO_PORT "i_tms" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "i_tck" H12;
IO_PORT "i_tck" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;

INS_LOC "u_soc_pll/u_pll" PLL_R[0];
